<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro clientes refrigeração</title>
</head>
<body>
    <header>
        <h1>Sistema de clientes de Refrigeração</h1>
        <ol>
            <li>Cadastrar cliente</li>
            <li>Cadastrar serviço</li>
        </ol>

    </header>
    <h2>Cadastrar cliente</h2>
    <p>Aqui você vai cadastrar os dados do seu novo cliente</p>
    <h2>Cadastrar Serviço</h2>
    <p>Aqui você vai cadastrar o novo serviço</p>
</body>
</html>